@{
  Layout = "_Layout";
}

<h1>Welcome to your Doctors' Office Administrator System</h1>

<p>@Html.ActionLink("Manage Doctors", "Index", "Doctors")</p>
<p>@Html.ActionLink("Manage Patients", "Index", "Patients")</p>